*, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
}
.heading-2 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #f4f4f4;
}

.paragraph-1 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #f4f4f4;
}

body {
  overflow-x: hidden;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: rgb(2, 2, 17);
}
li {
  overflow: hidden;
}

html {
	scroll-behavior: smooth;
  scroll-padding-top: 5%;
}
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

.my-img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}
.my-img:hover{
    transform: scale(1.2);
    opacity: .8;
}
.navbar-expand-sm {
  background: rgb(2, 2, 17);
  /* background: rgb(2, 2, 17); */
  /* color: rgb(2, 2, 17); */
}
.grad-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(-45deg, rgb(255, 255, 255),  rgb(252, 251, 253), rgb(7, 5, 112), rgb(1, 1, 49));
  background-size: 400% 400%;
  -webkit-animation: gradbar 5s ease infinite;
	-moz-animation: gradbar 5s ease infinite;
	animation: gradbar 5s ease infinite;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


header {
  background: rgb(2, 2, 17);
  /* color: rgb(2, 2, 17); */
  min-height:70px;
  overflow: hidden;
  z-index: 9999;
}
.navbar-brand, .nav-link {
  color: #ffffff;
  font-weight:bold;
}
.navbar-nav {
  color: #ffffff;
}
.navbar-brand .img-fluid {
  float: left;
  margin-right: 10px;
  width: 4.5rem;
  height: 3.5rem;
}
.navbar-expand-sm .navbar-nav {
  justify-content: flex-end;
}
.nav a:hover {
  background:rgb(10, 2, 117);
}
.navbar-expand-sm {
  display: flex;
  align-items: right;
  justify-content: space-between;
  font-size: 1rem;
}
.navbar-expand-sm  ul {
  float: right;
  display: flex;
}

.navbar-expand-sm  ul li a {
  padding-bottom: 2px;
}

.navbar-expand-sm  ul.navbar-nav {
  flex: 1;
}

/* MOBILE MENU */
.menu-btn {
  color: #f4f4f4;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* STICKY NAVBAR */
.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
.sticky + .row {
  padding-top: 100px;
}
.container {
  text-align: center;
  width:80%;
  margin:auto;
  overflow:hidden;
}


#showcase{
  margin: 0 0 5%;
  /* min-height:500px; */
  min-height: 40rem;
  background:url(../images/showcase.jpg) no-repeat 0 -500px;
  text-align:center;
  color: #ffffff;
  border: darkblue;
}

#showcase h1 {
  text-transform:uppercase;
  margin-top:15%;
  font-size: 3.2rem;
  margin-bottom: 10px;
}

#showcase p{
  font-size:20px;
}

#about {
  color: #ffffff;
  margin: 5% 0 20% 0;
  padding-top: 5%;
  list-style: none;
  scroll-snap-align: center;
  height: 100%;
}
#about h2 {
  margin-left: 20%;
  text-transform:uppercase;
  padding: .6rem;
  font-size: 2rem;
  font-weight: bold;
  /* color:  #210177; */
  color: #f4f4f4;
}

article #about-col{
  float:left;
  width:50%;
}
#about .img-responsive {
  float: left;
  width: 25%;
  margin: 0 5% 5% 20% ;
  padding: 1rem 1rem 1rem;
}
aside #sidebar {
  float:right;
  width: 40%;
  justify-content: right;
  margin: 15% 10% 10% 5%;
  padding: 15% 15% 0 5%;
  background-color:#35424a;
}
aside #skill {
  margin-top: 2%;
}

/* Services Section */
.services-section
{
	/* background-color: #040413; */
  background: rgb(1, 1, 24);
	background-size: cover;
	padding: 3rem 0;
  place-items: center;
  overflow-y: hidden;
}
.inner-width
{
	width: 100%;
	max-width: 1500px;
	margin: auto;
	padding: 0 1.5rem;
	overflow: hidden;
}
.section-title
{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 2rem;
  font-weight: bold;
}
.border
{
	width: 5rem;
	height: 0.2rem;
	background: #1B9CFC;
	margin: 2.5rem auto;
}
.services-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service-box
{
	max-width: 33.33%;
	padding: 1rem;
	text-align: center;
	color: #ddd;
	cursor: pointer;
}
.service-icon
{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border: 0.3rem solid #1B9CFC;
	color: #1B9CFC;
	transform: rotate(45deg);
	margin-bottom: 2rem;
	margin-bottom: 1rem;
	transition: 0.3s linear;
}
.service-icon i
{
	line-height: 4rem;
	transform: rotate(-45deg);
	font-size: 2rem;
}
.service-box:hover .service-icon
{
	background: #011a2c;
	color: #ddd;
}
.service-title
{
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.service-desc
{
	font-size: 1.1rem;
}
@media screen and (max-width: 960px) {
	.service-box{
		max-width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.service-box{
		max-width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.service-box{
		max-width: 100%;
    display: block;
	}
  .service-desc {
  	font-size: 0.85rem;
  }
}
/* @media (min-width: 350px) { */
@media screen and (max-width: 240px) {
	.service-box{
		max-width: 100%;
    display: block;
	}
  .service-desc {
  	font-size: 0.85rem;
  }
}

/* Skills */
.skills {
  width: 100%;
  margin: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .skills {
    margin: 4rem 0;
  }
}

.skills__text {
  margin-bottom: 3.2rem;
}

.skills__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: (minmax(14.49rem, 15.5fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(14.49rem, 15.5fr));
  gap: 3.2rem;
  color: #fff;
  text-align: center;
}

.skills__item {
  padding: 0.8rem;
  /* border: 1px solid #a38f74; */
  border: 1px solid #021166;
  border-radius: 15px;
  background-color: #010a18;
  background-color: rgb(8, 8, 27);
  -webkit-transition: .35s;
  transition: .35s;
}

.skills__icon {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 6.4rem;
}

.skills__paragraph {
  font-size: 1.5rem;
}

#contact {
  border-top: 1rem solid #fff;
}
#contact h1 {
  color: #f4f4f4;
  text-align: center;
  padding: 1% 0 1% 5%;
  font-weight: bold;
  font-size: 2em;
}
#contact .contact {
  margin: 2% 5% 2% 5%;
  border-radius: 5px;
  background: url("../images/image29.jpg");
  padding: 20px;
}
label[for=name], [for=Message], [for=email] {
  color: #ffffff;
  float: left;
  font-size: 1em;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px 0 20px 0;
  background-color: rgb(204, 194, 241);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px 0 16px 0;
  resize: vertical;
}
input[type=submit] {
  background-color: #030680;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: rgb(4, 1, 14);
}


#newsletter {
  margin: 2% 0 2% 0;
  padding:15px;
  color:#ffffff;
  background:#00070c;
  border-top: 1rem solid #fff;
  border-bottom: 1rem solid #fff;
}
#newsletter h1{
  float:left;
  padding-top: 1rem;
  font-size: 2em;
}
#newsletter form {
  float:right;
  margin-top:15px;
}
#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1 {
  height:38px;
  background:#022150;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.button_1:hover {
  background-color: navy;
}

/* Links */
.links {
  background:rgb(2, 2, 17);
  color: #ffffff;
  font-size: 1.2rem;
  padding: 5%;
  margin-left: 5%;
  width: 100%;
  overflow: hidden;
}
.links-inner {
  width: 100%;
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;
  align-items: center;
  justify-content: center;
}
.links-inner h1 {
  font-size: 1.2rem;
}
.links li {
  line-height: 2.8;
}

/* Location, Phone, Email Section */
.direct-contact-container {
  width: 100%;
  padding-top: 5%;
  margin: 0 10%;
  place-items: center;
}
/* .contact-list {
  list-style-type: none;
  padding: 0 1rem 0 1rem;
} */
.list-item {
  line-height: 4;
  color: #aaa;
}
.contact-text {
  font: 300 1.5rem 'Lato', sans-serif;
  letter-spacing: 1.5px;
  color: #bbb;
  place-items: center;
}
.place {
  margin-left: .5rem;
}
.phone {
  margin-left: .2rem;
}
.gmail {
  margin-left: .2rem;
}
.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: #fff;
  opacity: 5;
  text-decoration: none;
}

.footer {
  position: initial;
  font:80% bold Verdana, Geneva, sans-serif ;
  clear: both;
  padding: 1rem;
  width: 100%;
  background-color: rgb(2, 2, 17);
  text-align: center;
}
.footer h1 {
  color: #f4f4f4;
  font-size: 1.5rem;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  color: #f4f4f4;
  transition: all 0.3s ease;
  overflow: hidden;
}
.fa .Follow {
  text-align: left;
}
.fa-twitter {
  color: #007bb5;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* .fa-facebook {
  background: #007bb5;
} */
.fa-instagram {
  background-color: inherit;
}
.fa-github {
  background-color: rgb(2, 0, 8);
  color: #ffffff;
}
.fa:hover {
    opacity: 0.7;
}
.footer2 {
  border-top: 1px solid rgb(255, 253, 253);
  padding-top: 1%;
}
.footer2 .white {
  color: rgb(253, 253, 253);
}

/* Media Queries */
  /* Mobile Devices - Phones/Tablets */

/* @media all and (max-width: 699px) and (min-width: 520px), (max-width: 1151px) { */

@media screen and (max-width: 1024px) {
  #newsletter h1,
  #newsletter form,
  #services .box,
  aside #sidebar {
    float:none;
    text-align:center;
    width:100%;
  }
  header .navbar-brand {
    width: 100%;
    float: left;
    text-align: left;
  }
  header {
    padding-bottom:10px;
    border-bottom-style: hidden;
  }

  #showcase {
    margin-top: 5%;
  }
  #showcase h1{
    /* font-size: inherit; */
    margin-top: 5rem;
  }

  #about h2 {
    margin: 0 20% 0 2%;
  }
  #about .img-responsive {
    display: block;
    width: 60%;
    margin: 0 2% 5% 2%;
  }

  #sidebar .dark {
    display: -webkit-box;
    float: none;
    margin: 0 10% 2% 5%;
    width: 80%;
  }
  #sidebar #skill {
    display: block;
    float: none;
    margin: 0 10% 2% 5%;
    width: 80%;
  }

  #contact h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 5%;
  }  

  #newsletter button {
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"] {
    width:100%;
    margin-bottom:5px;
  }

  .links-inner {
    width: 1000px;
    display: grid;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }


  .direct-contact-container {
    justify-content: center;
    align-items: center;
    font: 300 1.5rem 'Lato', sans-serif;
    letter-spacing: 1.2px;
  }

  .direct-contact-container .contact-text {
    justify-content: center;
    align-items: center;
    font: 300 1.5rem 'Lato', sans-serif;
    letter-spacing: 1.2px;
    color: #bbb;
  }

}


@media only screen and (max-width: 600px) {
  .menu-btn {
    /* color: #f4f4f4; */
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }
  
  .navbar-expand-sm  ul.navbar-nav {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
     /* left: -100%; */
    height: calc(100vh - 80px);
    /* border-right: #f4f4f4 1px solid; */
    opacity: 1.5;
    transform: translate(100%);
    /* transform: translateX(-500px); */
    transition: transform 0.5s ease-in-out;
    background:  rgb(2, 2, 17);
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .navbar-expand-sm  ul.navbar-nav li {
    padding: 1rem;
    font-size: 2rem;
  }

  .navbar-expand-sm  ul.navbar-nav li:last-child {
    border-bottom: 0;
  }

  .navbar-expand-sm  ul.navbar-nav.show {
    transform: translateX(-20px);
  }

  aside .dark {
    font-size: small;
  }

  aside #skill {
    font-size: small;
    display: block;
    float: none;
    margin: 0 10% 2% 5%;
    width: 50%;
  }

  .row .my-img {
    width: 100px;
    height: 80px;
  }

  .service-card {
    display: block;
    float: none;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .links {
    width: 100%;
    font-size: .8rem;
    padding: 0 5%;
  }
   .links h1 {
    font-size: 1.2rem;
    font-weight: bold;
  } 

  .links .links-inner {
    width: 100%;
    margin:0 1rem;
    padding: 1rem;
    display: grid;
    grid-gap: .3rem;
    float: none;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    font-size: medium;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
  .links li {
    line-height: 2.3;
  }
  .direct-contact-container{
    display: block;
    float: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: .5rem;
    /* padding: 3% 3% 0 8%; */
  }
  .direct-contact-container .contact-text {
    justify-content: center;
    align-items: center;
    font: 300 1rem 'Lato', sans-serif;
    letter-spacing: .8px;
    color: #bbb;
  }
}